<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>欢迎来到食堂点评系统</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/NavigationBar.css"><!--导航栏 css-->
    <script src="js/Cookie_Parameter.js"></script><!--获取cookie和参数-->
</head>
<style>

    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    #app {

    }

    #id_lunbo {
        width: 780px;
        margin: 0 auto;
        background-color: black;
    }
</style>
<body>
<!--导航栏部分-->
<div id="navbar">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1" @click="openIndex">首页</el-menu-item>
        <el-menu-item index="2" @click="openAddDishForm">添加菜品</el-menu-item>
        <el-menu-item index="3">
            <!--搜索部分-->
            <div id="search-dishes">
                <el-input id="id_dishes_keywords_input" el-input v-model="dishes_keywords_input"
                          placeholder="请输入你要查询菜品的关键字">
                    <el-dropdown slot="prepend" id="id_click" trigger="click" @command="handleCommand">
                        <span class="el-dropdown-link">查询结果<i class="el-icon-arrow-down el-icon--right"></i></span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="dish in dishes_search_array" :command="dish">
                                {{dish.name}},{{dish.loc_Canteen}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-button slot="append" icon="el-icon-search" circle @click="SearchDishesByKeywords">
                    </el-button>
                </el-input>
            </div>
        </el-menu-item>
        <el-menu-item id="id_4" index="4" @click="openModifyUserInformation"><i class="el-icon-user"
                                                                                style="display: inline-block;"></i>
            <p id="user_NickName" style="display: inline-block;">用户昵称</p></el-menu-item>
    </el-menu>
</div>
<!--页面主体-->
<div id="app">
    <!--走马灯 轮播图部分-->
    <template>
        <el-carousel id="id_lunbo" trigger="click" height="440px" :interval="5000" arrow="always">
            <el-carousel-item v-for="(img,index) in imgUrlList" :key="index">
                <img :src="img.url" @click="toDish(index)">
            </el-carousel-item>
        </el-carousel>
    </template>
</div>
</body>
<script>
    let navbar = new Vue({
        el: '#navbar',
        data: {
            activeIndex: '1',
            activeIndex2: '1',
            dishes_keywords_input: '',
            dishes_search_array: [],
        },
        mounted: function () {
            this.getUserNickName()
        },
        methods: {

            handleSelect(key, keyPath) {
                //console.log(key, keyPath);
            },

            //进入首页
            openIndex: function () {
                window.open('/index.html')
            },

            //进入添加菜品页面
            openAddDishForm: function () {
                window.open('/AddDishesForm.html')
            },

            //搜索栏
            SearchDishesByKeywords: function () {
                let DishesKeywords = this.dishes_keywords_input
                let token_in_Cookie = getCookie("token")
                //console.log("getCookie : " + getCookie("token"))
                $.ajax({
                    type: 'POST',
                    url: "http://120.79.204.39:8444/menu/query",
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        keywords: DishesKeywords
                    },
                    success: (res) => {
                        //console.log(res)
                        this.dishes_search_array = res.data;
                        //console.log(this.dishes_search_array)

                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            },

            //用于进入菜品详情
            handleCommand: function (command) {
                let url = '/DishesComment.html' + '?id=' + command.dishId;
                window.open(url);
            },

            //获取用户昵称并显示
            getUserNickName: function () {
                let token_in_Cookie = getCookie("token")
                //console.log("token : " + token_in_Cookie)
                let userid_in_Cookie = getCookie("user_id")
                //console.log("user_id : " + userid_in_Cookie)
                $.ajax({
                    type: 'GET',
                    url: "http://120.79.204.39:8444/user/info",
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        userId: userid_in_Cookie
                    },
                    success: (res) => {
                        //console.log(res)
                        UserNickName = document.getElementById("user_NickName")
                        UserNickName.innerText = res.data.nickname
                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            },

            //打开修改个人信息页面
            openModifyUserInformation: function () {
                let userid_in_Cookie = getCookie("user_id")
                console.log("user_id : " + userid_in_Cookie)
                if (userid_in_Cookie == "") {
                    window.open('/Login.html')
                }
                else {
                    let url = '/UserInformation.html' + '?id=' + userid_in_Cookie
                    window.open(url)
                }
            },
        },
    })
    let app = new Vue({
        el: '#app',
        data: {
            dishes_recommand_array: [],
            dishes_recommand_photo: [],
            dishes_recommand_dishid: [],
            dishes_recommand_name: [],
            imgUrlList: [],
        },
        mounted: function () {
            //this.GetAllDishPictUrl()
            this.RecommandDishes()
        },
        methods: {

            RecommandDishes: function () {
                //let token_in_Cookie = getCookie("token")
                //console.log("getCookie : " + getCookie("token"))
                $.ajax({
                    type: 'POST',
                    url: 'http://120.79.204.39:8444/menu/recommand',
                    headers: {
                        //token: token_in_Cookie
                    },
                    data: {},
                    success: (res) => {
                        //console.log(res.data[0].avatar)
                        let uurl = "http://120.79.204.39:8888/icon/" + res.data[0].avatar
                        let idd = res.data[0].dishId
                        this.imgUrlList.push({url: uurl})
                        this.dishes_recommand_dishid.push({dishId: idd})

                        //console.log(res.data[1].avatar)
                        uurl = "http://120.79.204.39:8888/icon/" + res.data[1].avatar
                        idd = res.data[1].dishId
                        this.imgUrlList.push({url: uurl})
                        this.dishes_recommand_dishid.push({dishId: idd})

                        //console.log(res.data[2].avatar)
                        uurl = "http://120.79.204.39:8888/icon/" + res.data[2].avatar
                        idd = res.data[2].dishId
                        this.imgUrlList.push({url: uurl})
                        this.dishes_recommand_dishid.push({dishId: idd})

                        //console.log(res.data[3].avatar)
                        uurl = "http://120.79.204.39:8888/icon/" + res.data[3].avatar
                        idd = res.data[3].dishId
                        this.imgUrlList.push({url: uurl})
                        this.dishes_recommand_dishid.push({dishId: idd})
                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            },

            GetDishPictureUrl: function (dish_id) {
                let token_in_Cookie = getCookie("token")
                //console.log("getCookie : " + getCookie("token"))
                $.ajax({
                    type: 'GET',
                    url: 'http://120.79.204.39:8444/menu/info',
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        dishId: dish_id
                    },
                    success: (res) => {
                        //console.log(res)
                        let uurl = "http://120.79.204.39:8888/icon/" + res.data.avatar
                        let idd = res.data.dishId
                        this.imgUrlList.push({url: uurl})
                        //this.imgUrlList.push({id:idd})
                        // this.imgUrlList.push({index:dish_id})
                    },
                    fail: (res) => {
                        console.log(res)
                        //return "fail"
                    }
                })
            },

            GetAllDishPictUrl: function () {
                this.GetDishPictureUrl(1)
                this.GetDishPictureUrl(2)
                this.GetDishPictureUrl(3)
                this.GetDishPictureUrl(4)
            },

            toDish: function (index) {
                let dish_id = app.dishes_recommand_dishid[index].dishId
                console.log(dish_id)
                let url = '/DishesComment.html' + '?id=' + dish_id;
                window.open(url);
            }
        }
    })
</script>
</html>