<!DOCTYPE html>
<html xmlns:url="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>修改个人信息</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/NavigationBar.css"><!--导航栏 css-->
    <script src="js/Cookie_Parameter.js"></script><!--获取cookie和参数-->
</head>
<style>
    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #app {
    }
    #id_nc{
        margin:0 auto;
        width:450px;
    }
    #id_tx {
        margin: 0 auto;
        width: 370px;
        margin-top: 20px;
    }
    #id_gxqm {
        margin: 0 auto;
        width: 520px;
        margin-top: 20px;
        height:150px;
    }
    #id_xgxx {
        margin: 0 auto;
        width: 350px;
        margin-top: 20px;
    }
</style>
<body>
<!--导航栏部分-->
<div id="navbar">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1" @click="openIndex">首页</el-menu-item>
        <el-submenu index="2">
            <template slot="title">
                我的工作台
            </template>
            <el-menu-item index="2-1">选项1</el-menu-item>
            <el-menu-item index="2-2">选项2</el-menu-item>
            <el-menu-item index="2-3">选项3</el-menu-item>
            <el-submenu index="2-4">
                <template slot="title">
                    选项4
                </template>
                <el-menu-item index="2-4-1">选项1</el-menu-item>
                <el-menu-item index="2-4-2">选项2</el-menu-item>
                <el-menu-item index="2-4-3">选项3</el-menu-item>
            </el-submenu>
        </el-submenu>
        <el-menu-item index="3" @click="openAddDishForm">添加菜品</el-menu-item>
        <el-menu-item index="4">
            <!--搜索部分-->
            <div id="search-dishes">
                <el-input id="id_dishes_keywords_input" el-input v-model="dishes_keywords_input"
                          placeholder="请输入你要查询菜品的关键字">
                    <el-dropdown slot="prepend" id="id_click" trigger="click" @command="handleCommand">
                        <span class="el-dropdown-link">查询结果<i class="el-icon-arrow-down el-icon--right"></i></span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="dish in dishes_search_array" :command="dish">
                                {{dish.name}},{{dish.loc_Canteen}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-button slot="append" icon="el-icon-search" circle @click="SearchDishesByKeywords">
                    </el-button>
                </el-input>
            </div>
        </el-menu-item>
        <el-menu-item id="id_5" index="5" @click="openAddDishForm"><i class="el-icon-user"
                                                                      style="display: inline-block;"></i>
            <p id="user_NickName" style="display: inline-block;">用户昵称</p></el-menu-item>
    </el-menu>
</div>
<!--页面主体-->
<div id="app">
    <!--用户昵称-->
    <div id="id_nc">
        <el-input placeholder="请输入昵称" suffix-icon="el-icon-dish" v-model="user_nickname"></el-input>
    </div>
    <!--用户头像-->
    <div id="id_tx">
        <el-upload class="upload-demo"
                   drag
                   action="http://120.79.204.39:8444/upload/icon"
                   multiple
                   :on-success="AddPhotoSuccess">
            <div id="id_tx_k">
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            </div>
            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
    </div>
    <!--用户昵称-->
    <el-input type="textarea"
              id="id_gxqm"
              placeholder="请输入你的个性签名"
              v-model="user_motto"
              maxlength="30"
              show-word-limit>
    </el-input>
    <!--确定修改-->
    <div id="id_xgxx">
        <el-button type="primary" style="width:350px" @click="ModifyInformation">修改信息</el-button>
    </div>
</div>
</div>
</body>
<script>
    let navbar = new Vue({
        el: '#navbar',
        data: {
            activeIndex: '1',
            activeIndex2: '1',
            dishes_keywords_input: '',
            dishes_search_array: [],
        },
        mounted: function () {
            this.getUserNickName()
        },
        methods: {

            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },

            //进入首页
            openIndex: function () {
                window.open('http://localhost:8444/index.html')
            },

            //进入添加菜品页面
            openAddDishForm: function () {
                window.open('http://localhost:8444/AddDishesForm.html')
            },

            //搜索栏
            SearchDishesByKeywords: function () {
                let DishesKeywords = this.dishes_keywords_input
                let token_in_Cookie = getCookie("token")
                //console.log("getCookie : " + getCookie("token"))
                $.ajax({
                    type: 'POST',
                    url: "http://120.79.204.39:8444/menu/query",
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        keywords: DishesKeywords
                    },
                    success: (res) => {
                        console.log(res)
                        this.dishes_search_array = res.data;
                        console.log(this.dishes_search_array)

                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            },

            //用于进入菜品详情
            handleCommand: function (command) {
                let url = 'http://localhost:8444/DishesComment.html' + '?id=' + command.dishId;
                window.open(url);
            },

            //获取用户昵称并显示
            getUserNickName: function () {
                let token_in_Cookie = getCookie("token")
                //console.log("token : " + token_in_Cookie)
                let userid_in_Cookie = getCookie("user_id")
                //console.log("user_id : " + userid_in_Cookie)
                $.ajax({
                    type: 'GET',
                    url: "http://120.79.204.39:8444/user/info",
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        userId: userid_in_Cookie
                    },
                    success: (res) => {
                        //console.log(res)
                        UserNickName = document.getElementById("user_NickName")
                        UserNickName.innerText = res.data.nickname
                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            },

            //打开修改个人信息页面
            openModifyUserInformation: function () {
                window.open('http://localhost:8444/ModifyUserInformation.html')
            },
        },
    })
    let app = new Vue({
        el: '#app',
        data: {
            user_nickname: '',
            user_photo_name: '',
            user_motto: '',
        },
        mounted: function () {

        },
        methods: {
            AddPhotoSuccess: function (response) {
                //function(response, file, fileList)
                console.log(response);
                this.user_photo_name = response.data.filename
            },
            ModifyInformation: function () {
                let token_in_Cookie = getCookie("token")
                //console.log("token : " + token_in_Cookie)
                let userid_in_Cookie = getCookie("user_id")
                //console.log("user_id : " + userid_in_Cookie)
                let UserNickname = app.user_nickname
                let photoname = app.user_photo_name
                let UserMotto = app.user_motto
                $.ajax({
                    type: 'POST',
                    url: "http://120.79.204.39:8444//user/update",
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        userId: userid_in_Cookie,
                        nickname: UserNickname,
                        avatar: photoname,
                        motto: UserMotto
                    },
                    success: (res) => {
                        console.log(res)
                        navbar.getUserNickName()
                        alert("修改个人信息成功")
                        window.open('http://localhost:8444/index.html')
                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            }
        }
    })
</script>
</html>