<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/NavigationBar.css"><!--导航栏 css-->
    <script src="js/Cookie_Parameter.js"></script><!--获取cookie和参数-->
</head>
<style>
    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #app {

        margin: 0 auto;
        width: 450px;
    }

    #id_user-register-button {
        margin: 0 auto;
        width: 450px;
    }

    #mail-verification-code {
        /*float:left;*/
    }

    #id_mail-verification-code {
    }

    #id_mail-button {
        background-color: deepskyblue;
    }
</style>
<body>
<!--导航栏部分-->
<div id="navbar">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1" @click="openIndex">首页</el-menu-item>
        <el-submenu index="2">
            <template slot="title">
                我的工作台
            </template>
            <el-menu-item index="2-1">选项1</el-menu-item>
            <el-menu-item index="2-2">选项2</el-menu-item>
            <el-menu-item index="2-3">选项3</el-menu-item>
            <el-submenu index="2-4">
                <template slot="title">
                    选项4
                </template>
                <el-menu-item index="2-4-1">选项1</el-menu-item>
                <el-menu-item index="2-4-2">选项2</el-menu-item>
                <el-menu-item index="2-4-3">选项3</el-menu-item>
            </el-submenu>
        </el-submenu>
        <el-menu-item index="3" @click="openAddDishForm">添加菜品</el-menu-item>
        <el-menu-item index="4">
            <!--搜索部分-->
            <div id="search-dishes">
                <el-input id="id_dishes_keywords_input" el-input v-model="dishes_keywords_input"
                          placeholder="请输入你要查询菜品的关键字">
                    <el-dropdown slot="prepend" id="id_click" trigger="click" @command="handleCommand">
                        <span class="el-dropdown-link">查询结果<i class="el-icon-arrow-down el-icon--right"></i></span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item v-for="dish in dishes_search_array" :command="dish">
                                {{dish.name}},{{dish.loc_Canteen}}
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <el-button slot="append" icon="el-icon-search" circle @click="SearchDishesByKeywords">
                    </el-button>
                </el-input>
            </div>
        </el-menu-item>
        <el-menu-item id="id_5" index="5" @click="openModifyUserInformation"><i class="el-icon-user"
                                                                                style="display: inline-block;"></i>
            <p id="user_NickName" style="display: inline-block;">用户昵称</p></el-menu-item>
    </el-menu>
</div>
<!--页面主体-->
<div id="app">
    <!--用户名及查重认证-->
    <div id="user-name-label">
        <el-input v-model="username_input" placeholder="请输入用户名" @blur="QueryUsername"></el-input>
        <p id="user-name-error"></p>
    </div>
    <!--密码及二次验证-->
    <div id="password-label">
        <el-input placeholder="请输入密码" v-model="password_input" show-password></el-input>
        <el-input placeholder="请再次输入密码" v-model="password_check" show-password @blur="checkPassword"></el-input>
        <p id="password-check-error"></p>
    </div>
    <!--邮箱及查重认证-->
    <div id="user-mail-label">
        <el-input v-model="email_input" placeholder="请输入你的邮箱" @blur="QueryMail"></el-input>
        <p id="user-email-error"></p>
    </div>
    <!--邮箱验证码发送及认证-->
    <div id="mail-verification-code">
        <el-input id="id_mail-verification-code" v-model="vercode_input" placeholder="请输入验证码" @blur="checkVerCode">
            <el-button slot="append" id="id_mail-button" @click="SendVerCode" style="color:white">发送验证码</el-button>
        </el-input>
        <p id="email-vercode-error"></p>
    </div>
    <!--注册按钮-->
    <div id="user-register">
        <el-button id="id_user-register-button" type="success" @click="userRegister" id="user-register-button"
                   :disabled="buttonDisabled">注册
        </el-button>
    </div>
    <div id="user-login">
        <el-button id="id_user-login-button" type="primary" @click="userLogin" id="user-login-button">已有帐号 前往登录
        </el-button>
    </div>
</div>
</body>
<script>
    let navbar = new Vue({
        el: '#navbar',
        data: {
            activeIndex: '1',
            activeIndex2: '1',
            dishes_keywords_input: '',
            dishes_search_array: [],
        },
        mounted: function () {
            this.getUserNickName()
        },
        methods: {

            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },

            //进入首页
            openIndex: function () {
                window.open('http://localhost:8444/index.html')
            },

            //进入添加菜品页面
            openAddDishForm: function () {
                window.open('http://localhost:8444/AddDishesForm.html')
            },

            //搜索栏
            SearchDishesByKeywords: function () {
                let DishesKeywords = this.dishes_keywords_input
                let token_in_Cookie = getCookie("token")
                //console.log("getCookie : " + getCookie("token"))
                $.ajax({
                    type: 'POST',
                    url: "http://120.79.204.39:8444/menu/query",
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        keywords: DishesKeywords
                    },
                    success: (res) => {
                        console.log(res)
                        this.dishes_search_array = res.data;
                        console.log(this.dishes_search_array)

                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            },

            //用于进入菜品详情
            handleCommand: function (command) {
                let url = 'http://localhost:8444/DishesComment.html' + '?id=' + command.dishId;
                window.open(url);
            },

            //获取用户昵称并显示
            getUserNickName: function () {
                let token_in_Cookie = getCookie("token")
                //console.log("token : " + token_in_Cookie)
                let userid_in_Cookie = getCookie("user_id")
                //console.log("user_id : " + userid_in_Cookie)
                $.ajax({
                    type: 'GET',
                    url: "http://120.79.204.39:8444/user/info",
                    headers: {
                        token: token_in_Cookie
                    },
                    data: {
                        userId: userid_in_Cookie
                    },
                    success: (res) => {
                        //console.log(res)
                        UserNickName = document.getElementById("user_NickName")
                        UserNickName.innerText = res.data.nickname
                    },
                    fail: (res) => {
                        console.log(res)
                    }
                })
            },

            //打开修改个人信息页面
            openModifyUserInformation: function () {
                let userid_in_Cookie = getCookie("user_id")
                console.log("user_id : " + userid_in_Cookie)
                if (userid_in_Cookie == "") {
                    window.open('http://localhost:8444/Login.html')
                }
                else {
                    window.open('http://localhost:8444/ModifyUserInformation.html')
                }
            },
        },
    })
    let app = new Vue({
        el: '#app',
        data: {
            username_input: '',

            password_input: '',
            password_check: '',

            email_input: '',

            vercode_input: '',
            vercode_send: '',

            user_id: '',

            username_is_checked: false,
            password_is_checked: false,
            email_is_checked: false,
            vercode_is_checked: false,

            buttonDisabled: true,
        },
        mounted: function () {
            //this.()
        },
        methods: {
            QueryUsername: function () {
                let Username = this.username_input
                $.ajax({
                    type: 'POST',
                    url: '/login/verification_username',
                    data: {
                        username: Username
                    },
                    success: (res) => {
                        //console.log(res)
                        //console.log(res.data.status.toString())
                        let UsernameError = document.getElementById("user-name-error")
                        if (res.data.status === "已存在") {
                            //console.log("no way");
                            //console.log(UsernameError.innerText)
                            if (Username != "") {
                                UsernameError.innerText = "该用户名已被注册"
                            }
                            this.username_is_checked = false;
                            this.RegisterAble();
                        }
                        else {
                            //console.log("ok");
                            UsernameError.innerText = ""
                            this.username_is_checked = true;
                            this.RegisterAble();
                        }
                    },
                    fail: (res) => {
                        console.log(res)
                        console.log("fail")
                        this.buttonDisabled = true;
                    }
                })
            },
            checkPassword: function () {
                let password1 = this.password_input
                let password2 = this.password_check
                let password_error = document.getElementById("password-check-error")
                //console.log("password1 : " + password1.toString())
                //console.log("password2 : " + password2.toString())
                if (password1 != password2) {
                    this.password_is_checked = false;
                    this.RegisterAble();
                    if (password1 != "" && password2 != "") {
                        password_error.innerText = "两次输入的密码不一致"
                    }
                }
                else {
                    if (password1 != "" && password2 != "") {
                        this.password_is_checked = true;
                    }
                    this.RegisterAble();
                    password_error.innerText = ""
                }
            },
            QueryMail: function () {
                let Mail = this.email_input
                console.log(Mail.toString())
                $.ajax({
                    type: 'POST',
                    url: '/login/verification_username',
                    data: {
                        username: Mail
                    },
                    success: (res) => {
                        //console.log(res)
                        //console.log(res.data.status.toString())
                        let MailError = document.getElementById("user-email-error")
                        if (res.data.status.toString() == "已存在") {
                            if (Mail != "") {
                                MailError.innerText = "该邮箱已被注册"
                            }
                            this.email_is_checked = false;
                            this.RegisterAble();
                        }
                        else {
                            MailError.innerText = ""
                            this.email_is_checked = true;
                            this.RegisterAble();
                        }
                    },
                    fail: (res) => {
                        console.log(res)
                        console.log("fail")
                    }
                })
            },
            SendVerCode: function () {
                let mail = this.email_input
                $.ajax({
                    type: 'POST',
                    url: '/login/verification_code',
                    data: {
                        email: mail.toString()
                    },
                    success: (res) => {
                        //console.log(res)
                        //console.log(this.vercode_send)
                        this.vercode_send = res.data.code
                        console.log("用户的验证码为 : " + res.data.code)
                    },
                    fail: (res) => {
                        console.log(res)
                        console.log("fail")
                    }
                })
            },
            checkVerCode: function () {
                let inputCode = this.vercode_input;
                let sendCode = this.vercode_send;
                let VercodeError = document.getElementById("email-vercode-error")
                //console.log("发送的验证码为" + sendCode)
                //console.log("输入的验证码为" + inputCode)
                if (inputCode != sendCode) {
                    if (inputCode != "") {
                        VercodeError.innerText = "验证码不正确"
                    }
                    this.vercode_is_checked = false;
                    this.RegisterAble();
                }
                else {
                    VercodeError.innerText = ""
                    if (inputCode != "" && sendCode != "") {
                        this.vercode_is_checked = true;
                    }
                    this.RegisterAble();
                }
            },
            userRegister: function () {
                let Username = this.username_input
                let Password = this.password_input
                let eMail = this.email_input
                $.ajax({
                    type: 'POST',
                    url: '/login/register',
                    data: {
                        username: Username,
                        password: Password,
                        email: eMail
                    },
                    success: (res) => {
                        //console.log(res)
                        console.log("your id is : " + res)
                        alert("注册成功，自动跳转到登陆页面")
                        let url = 'http://localhost:8444/Login.html'
                        window.open(url)
                    },
                    fail: (res) => {
                        console.log(res)
                        console.log("fail")
                    }
                })
            },
            userLogin: function () {
                widow.open('http://localhost:8444/Login.html')
            },
            RegisterAble: function () {
                this.buttonDisabled = !(this.username_is_checked && this.password_is_checked && this.email_is_checked && this.vercode_is_checked);
                console.log("****************************")
                console.log("username " + this.username_is_checked)
                console.log("password " + this.password_is_checked)
                console.log("email " + this.email_is_checked)
                console.log("vercode " + this.vercode_is_checked)
                console.log("Register " + this.buttonDisabled)
                console.log("****************************")
            }
        }
    })
</script>
</html>